/* -- START PRODUCTS.COMPONENTS STYLES -- */
.contenedor-base {
    width: 90%;
    margin: 0 auto;
}

.title-buttons-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: rgb(238, 235, 235);
    transition-duration: 0.4s;
    text-decoration: none;
    border: none;
    padding: 1em 2em;
        &:active {
            box-shadow: 3px 5px #8a8787;
            transform: translateY(4px);
            background-color: white;
        }
}

/* vista cuadrícula */

/* .products-gallery__title {
    
} */

.products-gallery__list {
    display: flex;
    gap: 2em 1em;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.products-gallery__item {
    width: calc(25% - 1em); 
} 

.products-gallery__image {

    &:hover {
        transform: scale(1.2);
    }  
}

 /* .products-gallery__name, .products-gallery__price, .products-gallery__description {
    
 } */


 /* Vista listado */

 ul.lista {
    display: flex;
    flex-direction: column;
}

ul.lista li.products-gallery__item {
    display: flex;
    align-items: center;
}


/* .products-gallery__price {} */

/* .products-gallery__description {} */

/* .products-gallery__stars {} */



/* -- END PRODUCTS.COMPONENTS STYLES -- */