
.section-container{
    width: 55%;
    margin: auto;
   
}

.section-title {
    text-align: center;
}

.container-product {
    display: flex;
} 

 .container-image {
    
    width: 50%;
 }
.container-botones {
    border: pink solid 2px
}
button {
    border: solid green 2px;
      
}