<!-- START WELCOME-TEXT SECTION -->
<section class="section__welcome-text section">
    <div class="welcome-text__container">
        <h2 class="welcome-text__h2 h2">Bienvenido a Shopéame</h2>
        <h3 class="welcome-text__h3 h3">¿Qué es Shopéame?</h3>
        <p class="welcome-text__p p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt pulvinar arcu sit amet fringilla. Fusce rhoncus ultrices tortor, eu dignissim mi lobortis eu. Vivamus fringilla commodo quam ac pellentesque. Duis molestie venenatis velit, eget semper urna rutrum sed. Aliquam laoreet dolor suscipit felis tincidunt placerat. Morbi id metus sodales, finibus metus nec, semper urna. Morbi et arcu vitae turpis iaculis maximus.
            Duis posuere mauris metus, ut sodales odio blandit a. Sed consequat scelerisque nibh, vel commodo turpis. Integer pretium hendrerit molestie. Vestibulum bibendum arcu eget molestie sodales. Pellentesque varius commodo tincidunt. Etiam vitae sapien mattis, laoreet est eget, maximus nisi.
        </p>
        <h3 class="welcome-text__h3 h3">¿Qué es Shopéame?</h3>
        <p class="welcome-text__p p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt pulvinar arcu sit amet fringilla. Fusce rhoncus ultrices tortor, eu dignissim mi lobortis eu. Vivamus fringilla commodo quam ac pellentesque. Duis molestie venenatis velit, eget semper urna rutrum sed. Aliquam laoreet dolor suscipit felis tincidunt placerat. Morbi id metus sodales, finibus metus nec, semper urna. Morbi et arcu vitae turpis iaculis maximus.
            Duis posuere mauris metus, ut sodales odio blandit a. Sed consequat scelerisque nibh, vel commodo turpis. Integer pretium hendrerit molestie. Vestibulum bibendum arcu eget molestie sodales. Pellentesque varius commodo tincidunt. Etiam vitae sapien mattis, laoreet est eget, maximus nisi.
        </p>
        <h3 class="welcome-text__h3 h3">¿Qué es Shopéame?</h3>
        <p class="welcome-text__p p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt pulvinar arcu sit amet fringilla. Fusce rhoncus ultrices tortor, eu dignissim mi lobortis eu. Vivamus fringilla commodo quam ac pellentesque. Duis molestie venenatis velit, eget semper urna rutrum sed. Aliquam laoreet dolor suscipit felis tincidunt placerat. Morbi id metus sodales, finibus metus nec, semper urna. Morbi et arcu vitae turpis iaculis maximus.
            Duis posuere mauris metus, ut sodales odio blandit a. Sed consequat scelerisque nibh, vel commodo turpis. Integer pretium hendrerit molestie. Vestibulum bibendum arcu eget molestie sodales. Pellentesque varius commodo tincidunt. Etiam vitae sapien mattis, laoreet est eget, maximus nisi.
        </p>
    </div>
</section>
<!-- END WELCOME-TEXT SECTION -->
<app-featured-products [productsList]="lastProducts"></app-featured-products>
<app-featured-products [productsList]="alfombrasProducts"></app-featured-products>