<!-- START WELCOME-TEXT SECTION -->
<section class="section__welcome-text section">
    <div class="welcome-text__container">
        <h2 class="welcome-text__h2 h2">Bienvenido a Shopéame</h2>
        <h3 class="welcome-text__h3 h3">¿Qué es Shopéame?</h3>
        <p class="welcome-text__p p">
            Shopéame es una plataforma en línea que te permite comprar y vender productos de forma fácil 
            y segura. La plataforma ofrece una experiencia de compra única y conveniente para los usuarios, 
            así como una solución todo en uno para los vendedores. En Shopéame, los usuarios pueden encontrar 
            una amplia variedad de productos de diferentes categorías, y comparar precios para encontrar las 
            mejores ofertas. Además, pueden estar seguros de que están comprando de vendedores confiables, 
            ya que Shopéame verifica la identidad y reputación de todos los vendedores registrados en la plataforma.
        </p>
        <h3 class="welcome-text__h3 h3">Explora una amplia variedad de productos</h3>
        <p class="welcome-text__p p">
            En Shopéame, puedes explorar una amplia variedad de productos de diferentes 
            categorías y marcas. Desde productos electrónicos y ropa hasta productos de belleza y hogar, 
            Shopéame ofrece una amplia gama de opciones para satisfacer las necesidades de cualquier persona. 
            Además, Shopéame se esfuerza por ofrecer precios competitivos, por lo que los usuarios pueden comparar 
            precios y encontrar las mejores ofertas.
        </p>
        <h3 class="welcome-text__h3 h3">Comprar de vendedores confiables</h3>
        <p class="welcome-text__p p">
            Shopéame se asegura de que los vendedores que se registran en la plataforma sean de confianza 
            y que ofrezcan productos de calidad. Para ello, Shopéame verifica la identidad y reputación de 
            los vendedores antes de que puedan comenzar a vender en la plataforma. Además, Shopéame ofrece 
            un sistema de calificaciones y reseñas que permite a los usuarios evaluar la calidad del servicio
             y los productos que reciben de cada vendedor.
        </p>
    </div>
</section>
<!-- END WELCOME-TEXT SECTION -->

<!-- START FEATURED-PRODUCT SECTION -->
<app-featured-products [productsList]="lastProducts"></app-featured-products>
<!-- END FEATURED-PRODUCT SECTION -->

<!-- START FEATURED-PRODUCT SECTION -->
<app-featured-products [productsList]="alfombrasProducts"></app-featured-products>
<!-- END FEATURED-PRODUCT SECTION -->