/* -- START HOME.COMPONENT STYLES -- */

.section {
    
    &__welcome-text {
        width: 90%;
        margin: 0 auto;
        padding: 2em 0;
    }
}

.welcome-text {

    &__container {
        background-color: whitesmoke;
        padding: 2em;
    }
    &__h2 {
        text-align: center;
        font-size: 2em;
    }
}

/* -- END HOME.COMPONENT STYLES -- */
