<header>
    <div class="header-contenedor">
    <div class="header-logo">
        <div>
            <a><button class="header-btn">S</button></a>
        </div>
        <div>
            <h4 class="header-text">Shopéame!</h4>
        </div>
    </div>
</div>

    <div class="header-links">
        <ul class="header-links__ul">
            <li class="header-links__li"><a [routerLink]="''" routerLinkActive="router-link-active" >Home</a></li>
            <li class="header-links__li"><a [routerLink]="'products'" routerLinkActive="router-link-active" >Products</a></li>
            <li class="header-links__li"><a [routerLink]="'gestion'" routerLinkActive="router-link-active" >Gestion</a></li>
        </ul>
    </div>
</header>