.header-contenedor {
    display: flex;
}
.header-btn {
    background-image: linear-gradient(to right, rgb(74, 128, 221), rgb(26, 24, 69));
    border:none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    transition-duration: 0.5s;
    margin: 31.920px 10px 31.920px 0px;

        &:hover{
            font-size: 24px;
            cursor: pointer;
        }
        
}

.header-logo {
    display: inline-flex;
    margin: auto;
    // border: solid black 2px;   
}

.header-links {
    background-color: rgb(233, 206, 52);
    padding: 2em 0;

        &__ul {
            display: flex;
            justify-content: center;
            gap: 2em;
        }
}

a {
    text-decoration: none;
    color: black;  

    &:hover{
        color: white;
    }
}

